<div class="card-trip">
  <%= image_tag(booking.ship.picture_1) %>
  <div class="card-trip-infos">
      <h2 class="mb-2"><%= booking.ship.name%></h2>
      <p class="mb-3"><%= booking.ship.description %></p>
      <div class="booking-date align-self-end">
        <p><strong>Booking dates: </strong><%= booking.start_date %> - <%= booking.end_date %></p>
      </div>
  </div>
</div>
