<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://w.wallhaven.cc/full/lm/wallhaven-lmq1wr.jpg')">
  <div class="container-banner">
    <h1>Infinity Fleet Rentals</h1>
    <p>Your Odyssey Among the Stars Begins Here!</p>
    <%= link_to "See all ships", ships_path, class: 'btn btn-flat'  %>
  </div>
</div>
<div class="subheader-page">
  <h2> Our most popular spaceships</h2>
</div>
<div class="container">
  <div class="cards">
    <% @ships.first(6).each do |ship| %>
      <div class="card-trip">
        <%= link_to "", ship_path(ship), class: 'card-link' %>
        <%= image_tag "http://source.unsplash.com/featured/?#{ship.name}>&#{rand(1000)}" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= ship.name %></h2>
            <p><%= truncate(ship.description, length: 20) %></p>
          </div>
          <h2 class="card-trip-pricing">$<%=ship.price_per_day.to_i%></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
