<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://w.wallhaven.cc/full/lm/wallhaven-lmq1wr.jpg')">
  <div class="container-banner">
    <h1>Infinity Fleet Rentals</h1>
    <p>Your Odyssey Among the Stars Begins Here!</p>
    <%= render 'layouts/search_bar' %>
  </div>
</div>
</div>
<div class="subheader-page">
  <h2> Our most popular spaceships</h2>
</div>
<div class="container">
  <div class="cards">
    <% @ships.first(6).each do |ship| %>
      <div class="card-trip">
        <h2 class="card-trip-pricing">$<%=ship.price_per_day.to_i%></h2>
        <%= image_tag ship.picture_1 %>
        <div class="card-trip-infos">
          <div class="card-trip-header">
            <h2><%= ship.name %></h2>
            <div class="d-flex">
              <% ship.rating.round do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <% (5 - ship.rating.round).times do %>
                <i class="fa-regular fa-star"></i>
              <% end %>
            </div>
          </div>
          <p><%= truncate(ship.description, length:100) %></p>
          <%= link_to "", ship_path(ship), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
