 <%= render 'layouts/banner' %>
<%= render 'layouts/search' %>
<div class="container">
  <div class="cards">
    <%if @ships.any?%>
      <% @ships.each do |ship| %>
        <div class="card-trip">
          <%= link_to "", ship_path(ship), class: 'card-link' %>
          <h2 class="card-trip-pricing">$<%=ship.price_per_day.to_i%></h2>
          <%= ship.picture_1.present? ? image_tag(ship.picture_1) : cl_image_tag(ship.photos[0].blob.key, height: 200, width: 300, crop: :fill) %>
          <div class="card-trip-infos">
            <div class="card-trip-header">
              <h2><%= ship.name %></h2>
              <div class="d-flex">
                <% ship.rating.round.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
                <% (5 - ship.rating.round).times do %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              </div>
            </div>
            <p><%= truncate(ship.description, length:100) %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <em>Sorry, no ships found.</em>
    <% end %>
  </div>
</div>
