<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://wallpaperset.com/w/full/0/6/c/336515.jpg')">
  <div class="container-banner">
    <h1>Infinity Fleet Rentals Offerings</h1>
    <p>Discover our captivating offers and embark on cosmic voyages now!</p>
    <%= render 'layouts/search_bar' %>
  </div>
</div>
</div>
<div class="container">
  <div class="cards">
    <%if @ships.any?%>
      <% @ships.each do |ship| %>
        <div class="card-trip">
          <%= link_to "", ship_path(ship), class: 'card-link' %>
          <h2 class="card-trip-pricing">$<%=ship.price_per_day.to_i%></h2>
          <%= image_tag ship.picture_1 %>
          <div class="card-trip-infos">
            <div class="card-trip-header">
              <h2><%= ship.name %></h2>
              <div class="d-flex">
                <% ship.rating.round do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
                <% (5 - ship.rating.round).times do %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              </div>
            </div>
            <p><%= truncate(ship.description, length:100) %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <em>Sorry, no ships found.</em>
    <% end %>
  </div>
</div>
