<div class="navbar"></div>
<div class="container">
  <br>
  <div style="font-size:40px"><center>
      <h1 id="show-page-header"><strong><%= @ship.name%></strong></h1>
    </div>
    <div class="big-display">
      <div class="card-category" style="width: 300px; height: 200px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tinyurl.com/yjm5jvcn)"></div>
      <div class="card-category" style="width: 300px; height: 200px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tinyurl.com/5ypy83b9)"></div>
      <div class="card-category" style="width: 300px; height: 200px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tinyurl.com/59zd62tr)"></div>
    </div>
    <div class="box">
      <div class="description-widget">
        <h2>Description</h2>
        <p><%= @ship.description%>
          <p>
          </div>
          <div class="widget">
            <h3><strong><center>Book Here</strong></h3>
              Rating: <strong><%= @ship.rating.round(1)%></strong>
              <br>
              Capacity: <strong><%= @ship.capacity%> Humanoids</strong>
              <br>
              Price per day: <strong>ᖬ<%= @ship.price_per_day%></strong>
              <br>
              <%= simple_form_for [@ship, @booking] do |f| %>
                <%= f.input :start_date, default: Date.tomorrow %>
                <%= f.input :end_date, default: (Date.today + 8) %>
                <br>
                <em><strong>Total price to be added here!</em></strong>
                <%= f.submit 'Submit', class: 'btn-flat-nav mt-2', style: "width:100%"  %>
              <% end %>
            </div>
          </div>
        </div>
