<div class="search">
  <%= form_with url: ships_path, method: :get, class: "search" do %>
    <div class="search-bar-container">
      <%= text_field_tag :q,
        params[:q],
        class: "form-control rounded-start",
        placeholder: "Deathstar..."
    %>
      <%= number_field_tag :max_price,
        params[:max_price],
        class: "form-control",
        placeholder: "Max Price",
        min: 0
    %>
      <%= select_tag :min_rating,
        options_for_select((1..5).map { |n| [("★" * n + "☆" * (5 - n)).html_safe, n] }, params[:min_rating]),
        class: "form-control",
        prompt: "Min Rating"
    %>
      <%= number_field_tag :min_capacity,
        params[:min_capacity],
        class: "form-control rounded-end",
        placeholder: "Min Capacity",
        min: 0
    %>
    </div>
    <%= submit_tag "Search", class: 'btn btn-flat'  %>
  <% end %>
</div>
