<!DOCTYPE html>
<html>
  <head>
    <title>InfinityFleetRentals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "https://res.cloudinary.com/dt99kdrwl/image/upload/v1692250877/production/pngwing.com_nyf6rf.png" %>
          <% end %>
          <%= render 'layouts/search' %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
              <%= link_to "See All Ships", ships_path, class: 'nav-link bar' %>
            </li>
            <li class="nav-item">
              <%= link_to "Add a Ship", new_ship_path, class: 'nav-link bar' %>
            </li>
              <% if user_signed_in? %>
                <li class="nav-item dropdown">
                  <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path(current_user.user_img.key) %>"/>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "View my bookings", bookings_path, class: 'dropdown-item' %>
                    <%= link_to "View my ships", bookings_path, class: 'dropdown-item' %>
                    <a class="dropdown-item" data-turbo-method="delete" href="<%= destroy_user_session_path %>">Log out</a>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Sign In", new_user_session_path, class: "btn-flat-nav nav-link px-4" %>
                </li>
              <% end %>
              <!--li class="nav-item"-->
              <!--/li-->
            </ul>
          </div>
        </div>
      </div>
      <%= render "shared/flashes" %>
      <%= yield %>
      <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          <i class="fa-regular fa-copyright"></i> Infinity Fleet Rental, inc. All rights reserved.
        </div>
      </div>
    </div>
  </body>
</html>
